.stake-view {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .stake-wrapper {
        padding: 1.5rem;
        background: rgba(246, 246, 246, 0.12);
        backdrop-filter: blur(20px);
        border-radius: 16px;
        width: 100%;
        .section-title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.78);
            padding-left: 1rem;
        }
        .card-wrapper {
            display: flex;
            flex-direction: row;
            padding: 1rem;

            .card-icon {
                background: rgba(176, 176, 176, 0.1);
                border-radius: 14px;
                height: 65px;
                width: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px;
            }
            .card {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .card-title {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #ffffff;
                }

                .card-value {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: #ffffff;
                }
            }
        }
    }

    .connect-wallet-wrapper {
        text-align: center;
        margin-top: 3rem;
        span {
            background: #6016fc;
            border-radius: 16px;
            cursor: pointer;
            font-family: Poppins;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #ffffff;
            padding: 1rem 3rem;
        }
        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 27px;
            color: #ffffff;
            margin-top: 2rem;
        }
    }

    .staking-details-wrapper {
        max-width: 600px;
        width: 100%;
        .stake-card-action-area {
            margin-top: 25px;

            .stake-card-action-stage-btns-wrap {
                display: flex;
                align-items: center;
                justify-content: center;

                .stake-card-action-stage-btn {
                    padding: 6px 30px;
                    cursor: pointer;
                    transition: all 0.4s ease;
                    border-bottom: 2px solid rgba(96, 22, 252, 0.09);
                    &.active {
                        border-bottom: 4px solid #6016fc;
                    }
                    p {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 32px;
                        color: #ffffff;
                    }
                }
            }

            .stake-card-action-row {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                .stake-card-action-input {
                    width: 100%;
                    border-radius: 10px;
                    outline: none;
                    background: rgba(36, 3, 107, 0.55);

                    .MuiOutlinedInput-input {
                        font-family: Montserrat Medium;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.6);
                        padding: 14px 20px;
                    }

                    .MuiOutlinedInput-notchedOutline {
                        border: 1px solid #712fff !important;
                    }

                    .stake-card-action-input-btn {
                        cursor: pointer;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                        color: #ffffff;
                    }
                }

                .stake-card-tab-panel-btn {
                    background: #6016fc;
                    border-radius: 17px;
                    cursor: pointer;
                    text-align: center;
                    width: 100%;
                    margin-top: 1rem;
                    padding: 0.5rem;

                    p {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #ffffff;
                    }
                }
            }

            .stake-card-action-help-text {
                margin-top: 1rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: rgba(255, 255, 255, 0.46);
            }
        }
        .stake-user-data {
            margin-top: 30px;
            .data-row {
                display: flex;
                justify-content: space-between;
                margin: 12px 0px;

                .data-row-name {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    color: rgba(255, 255, 255, 0.83);
                }
                .data-row-value {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    text-align: right;
                    color: #8a53ff;
                }
            }
        }
    }
}
