.bond-view {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 69;

    .data-row {
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 12px 0;

        .price-data {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            text-align: right;
            color: #8a53ff;
        }
        .bond-price {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
            }
        }
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .MuiBackdrop-root {
            background: rgba(100, 100, 100, 0.1) !important;
            backdrop-filter: blur(33px) !important;
            -webkit-backdrop-filter: blur(33px) !important;
        }
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .MuiBackdrop-root {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .bond-card {
        max-width: 803px;
        min-height: 605px;
        background: #1e094d;
        border: 0.5px solid #ffffff;
        box-sizing: border-box;
        box-shadow: 10px 4px 41px rgba(96, 22, 252, 0.28);
        border-radius: 16px;
        padding: 20px;
        width: 100%;
    }

    .bond-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bond-header-logo {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: row;

            .ohm-logo-bg {
                height: 40px !important;
                width: 40px !important;
                padding: 8px !important;
                margin-left: 0;
            }

            .bond-header-name {
                text-align: center;
                margin-left: 10px;

                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #ffffff;
            }
        }
    }

    .bond-data {
        margin: 10px 0 0 0;
    }

    .bond-price-data {
        .bond-price-data-title {
            font-family: Montserrat Medium;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.6);
        }

        .bond-price-data-value {
            font-family: Montserrat Bold;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
        }
    }

    .bond-price-data-row {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 23px;

        h4 {
            margin-bottom: 0;
        }

        h3.price {
            font-weight: 600 !important;
        }

        .card-wrapper {
            display: flex;
            flex-direction: row;
            padding: 1rem;

            .card-icon {
                background: rgba(176, 176, 176, 0.1);
                border-radius: 14px;
                height: 65px;
                width: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px;
            }
            .card {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .card-title {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #ffffff;
                }

                .card-value {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    color: #ffffff;
                }
            }
        }
    }

    .ohm-input {
        min-width: 50%;
        max-width: 408px;
        margin: 5px;

        .avax-checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                height: 15px;
                width: 15px;
            }

            p {
                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #ffffff;
                margin-left: 5px;
            }
        }
    }

    .transaction-button {
        min-width: 185px !important;
        max-width: 408px;
        width: 100%;
        margin: 5px !important;
    }

    .bond-one-table {
        display: flex;
        align-items: center;
        justify-content: center;

        .bond-one-table-btn {
            margin: 0 20px;
            cursor: pointer;
            transition: all 0.4s ease;

            p {
                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.6);
            }
        }

        .bond-one-table-btn.active {
            border-bottom: 1px solid #ffffff;

            p {
                color: #ffffff;
            }
        }
    }

    .bond-input-wrap {
        min-width: 50%;
        max-width: 408px;
    }

    .bond-input {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        outline: none;
        margin-bottom: 20px;

        .MuiOutlinedInput-input {
            font-family: Montserrat Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);
        }

        .MuiOutlinedInput-notchedOutline {
            border-color: rgba(255, 255, 255, 0.2) !important;
        }

        .stake-input-btn {
            cursor: pointer;

            p {
                font-family: Montserrat SemiBold;
                font-weight: 600;
                font-size: 18px;
                color: #ffffff;
            }
        }
    }

    .bond-approve-btn {
        background: #6016fc;
        border-radius: 17px;
        box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);

        height: 58px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
        }
    }

    .help-text {
        margin-top: 20px;

        .help-text-desc {
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: rgba(255, 255, 255, 0.46);
        }
    }

    .bond-balance-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.62);
    }
}

.mobile #bond-view {
    .ohm-card {
        .card-content {
            justify-content: space-evenly !important;

            .bond-toggle-row {
                justify-content: space-evenly !important;
            }

            .input-row {
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                align-content: center;

                .input-group.ohm-input-group {
                    margin: 10px !important;
                    width: 75%;
                    height: 50px;
                }

                div.stake-button {
                    width: 75%;
                    margin-left: 0;
                    margin-top: 15px;
                    height: 50px;
                    font-size: 1.3em !important;
                }
            }
        }
    }
}

@media screen and (max-width: 417px) {
    .bond-price-data-title {
        font-size: 17px !important;
    }

    .bond-price-data-value {
        font-size: 19px !important;
    }
}
