.dapp-sidebar {
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.13);

    .branding-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 50px 0;

        .wallet-link {
            margin: 10px;

            p {
                font-family: Montserrat SemiBold;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .dapp-menu-links {
        display: flex;
        flex-direction: column;
        .button-dapp-menu {
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
            padding: 1rem;
            text-decoration: none;
            color: #ededed;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:hover,
            &.active {
                text-decoration: none;
                background: #ededed;
                border-radius: 16px;
                color: #1f1f1f;
                svg {
                    filter: invert(100%) sepia(0%) saturate(6929%) hue-rotate(297deg) brightness(122%) contrast(92%) !important;
                }
            }
            svg {
                margin-right: 1rem;
                filter: invert(7%) sepia(10%) saturate(73%) hue-rotate(314deg) brightness(90%) contrast(87%);
            }
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                font-family: Inter;
            }
        }
    }

    .dapp-menu-bottom-content {
        margin-top: auto;
        a {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            padding: 0 1rem;
            text-decoration-color: #dddddd;

            svg {
                margin-right: 1rem;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #dddddd;
                font-family: Inter;
            }
        }
    }

    .social-row {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        padding: 2rem 1.3rem;

        a {
            &:hover {
                transform: scale(1.1);
            }

            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        z-index: 7;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: rgba(36, 39, 41, 0.1);
            backdrop-filter: blur(40px);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: #181b1c;
        }
    }

    #sup {
        vertical-align: super;
        font-size: x-small;
        margin-left: 5px;
    }
}
